#splash
  
  .top-spacer
    &nbsp;
    
  #splash-background
  

    #title
      Beeha
    #strapline
      Crafts, Culture, Stories
      .twitter
        =link_to("#CultureShiftUAE", "https://twitter.com/hashtag/cultureshiftuae")